## 03_Day(100DaysofCode)

# OPERATOR

Operators are mathematical symbols which are used to perform various operations.

TYPES:
Arithmetic operator
Assignment operators
Relational operator
Logical operators
Bitwise operators
unary minus operator

->special type of operator
Identity operator
membership operator

## (1)Arithmetic operator

(1)Arithmetic operator
Addition(+)
substraction(-)
Multiplication(*)
Division(/)->It will give the quotient part in float format
division also known as float division operator
Floor Division(//) ->It will give the quotient part in int format 
floor division also known as integer division operator
Exponent(**)->(to the power)
Modulus(%)->It return remainder

In [4]:
#ex-1
a=25
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)
print(a%b)

30
20
125
5.0
5
9765625
0

In [5]:
#ex-2
name='priti'
print(name+156)

TypeError: can only concatenate str (not "int") to str

In [6]:
# we can only concatinate a string only with a string
#ex-3
name='priti'
print(name+'156')

priti156

In [7]:
# print a string multiple times using *
name="Surendra"
print(name*5)

SurendraSurendraSurendraSurendraSurendra

## (2)Assignment operators(=)

it is used to strore the right side value in the left side